<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="false">
    <listeners>
      <!--<add databaseInstanceName="MAIN" writeLogStoredProcName="[Logging].[LogWrite]" addCategoryStoredProcName="[Logging].[AddCategory]" formatter="Custom Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Database Trace Listener"/>-->
      <add fileName="Logs\GeneralLogs.log" footer="" formatter="Custom Text Formatter" header="" rollFileExistsBehavior="Overwrite" rollInterval="None" rollSizeKB="10000" timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="General Rolling Flat File Trace Listener"/>
    </listeners>
    <formatters>
      <add template="[{timestamp}] Message: {message} Extended Properties: {dictionary({key} - {value}&#xA;)} Category: {category}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Custom Text Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <!--<add name="Database Trace Listener"/>-->
          <!--<add name="General Rolling Flat File Trace Listener"/>-->
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <!--<add name="Database Trace Listener"/>-->
          <!--<add name="General Rolling Flat File Trace Listener"/>-->
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <!--<add name="Database Trace Listener"/>-->
          <!--<add name="General Rolling Flat File Trace Listener"/>-->
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <!--<add name="Database Trace Listener"/>-->
          <!--<add name="General Rolling Flat File Trace Listener"/>-->
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <dataConfiguration defaultDatabase="MAIN"/>
  <appSettings>
      <!--<add key="WindsorConfigFile" value="C:\Users\ypanshin\Documents\Visual Studio 2010\Projects\EyeTracker\EyeTracker\EyeTracker.Tests\Configuration\Windsor.Config.RealDb.xml"/>-->
      <add key="WindsorConfigFile" value="C:\Users\ypanshin\Documents\Visual Studio 2010\Projects\EyeTracker\EyeTracker\EyeTracker.Tests\Configuration\Windsor.Config.xml"/>
    </appSettings>

    <connectionStrings>
      <add name="MAIN" connectionString="data source=WIN-QJ0OH7RB3Q5\SQLEXPRESS;initial catalog=Fin;packet size=4096;password=111111;persist security info=False;user id=sa;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <system.web>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="MAIN"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="10" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>
  </system.web>
</configuration>
