@using EyeTracker.Model
@using EyeTracker.Model.Master
@model ViewModelWrapper<MainMasterModel, BeforeLoginMasterModel, EyeTracker.Models.Account.RegisterModel>
@{
    Layout = "~/Views/Shared/_BeforeLogin.cshtml";
}
@section title { Register }
@section header { }
<section id="content">
    <div class="content-wrapper">
        <article class="center">
            @Html.Partial("Forms/RegisterForm", Model.View)
        </article>
    </div>
</section>