
.ui-input-text{margin-top:10px;}
.field-validation-error{color:red;font-size:12px;}
.validation-summary-errors{color:Red;font-size:12px;}
.validation-summary-errors ul{margin: 15px 0 15px 0;padding:0;}
.validation-summary-errors ul li{list-style-type:none;}