<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <dataConfiguration defaultDatabase="Database" />
  <connectionStrings>
    <!--<add name="Database" connectionString="Data Source=PAVEL-PC\SQLEXPRESS;Initial Catalog=fingerprint;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <add name="Database" connectionString="Data Source=DIMA-PC\SQLEXPRESS;Initial Catalog=Fingerprint;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--<add name="Database" connectionString="data source=PAVEL-PC\SQLEXPRESS;Initial Catalog=fingerprint;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <!--<add name="Database" connectionString="data source=finger.mobillify.com;initial catalog=mobi_fing;packet size=4096;password=a45QJPbnTQNFk;persist security info=False;user id=mobillify_prod;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
</configuration>