
.tail-top{background-position:0 -413px;}
#content .inside {padding:48px 0 48px 107px;}

#content .col-2 {width:600px;padding-top:10px;margin:auto;float:none;}

form .subactions{margin-bottom:10px;}
form .subactions .forgot-password{float:right;}
form .subactions input{width:15px;margin-right:5px;}
