
.tail-top{background-position:0 -413px;}
#content .inside {padding:48px 0 48px 107px;}

#content .col-2 {width:375px;padding-top:10px;margin:auto;float:none;}
form label {float:left;width:65px}
