
#content .inside {padding:0 0 48px 107px;}

#content .row-1 .col-1 {width:242px;margin-right:6px}
#content .row-1 .col-2 {width:242px;margin-right:6px}
#content .row-1 .col-3 {width:242px;margin-right:6px}
#content .row-1 .col-4 {width:242px}
#content .row-2 .col-1 {width:195px;margin-right:53px}
#content .row-2 .col-2 {width:657px}
