<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="baseUrl" value="http://localhost:2556/ETService/"/>
    <add key="submitService" value="SubmitPackage/"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
