<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="0" value="http://localhost:2557/et/"/>
    <add key="1" value="http://api.finger.mobillify.com/et/"/>
    <add key="submitService" value="submit"/>
    <add key="checkStatus" value="status"/>
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
