
.header{text-align:left; width:100%;height:30px;background:url(images/beforelogn.header.bg.jpg) center center;}

.header .logo{width:50px;display:block;height:30px;float:left;}

.header ul{margin:0;padding:0;height:30px;line-height:30px;}
.header ul li a{text-decoration:none;}

.header ul.main-menu{font-size:14px;color:#fff;}
.header ul.main-menu li{padding:7px 0px 7px 0px;}
.header ul.main-menu span{padding:7px 0px 7px 0px;}
.header ul.main-menu a{color:#fff;padding:7px 13px 7px 13px;}

.header ul.main-menu li.selected{background:url(images/beforelogn.header.selected.center.jpg) repeat-x center center;}
.header ul.main-menu li.selected span{background:url(images/beforelogn.header.selected.left.jpg) no-repeat center left;}
.header ul.main-menu li.selected a{background:url(images/beforelogn.header.selected.right.jpg) no-repeat center right;}

.header ul.login-menu{float:right;color:#ffff1f;width:300px;}
.header ul.login-menu li{padding:10px;}
.header ul.login-menu a{color:#ffff1f;}

.header li{list-style-type:none;display:inline;}

.main-content{padding:20px;min-height:500px;border-top:3px solid orange;}
.main-content h3.title{margin-top:0;font-size:17px;}

.footer{color:#3e5163;width:100%;height:87px;text-align:center;background:url(images/beforelogn.footer.bg.png) repeat-x center center;}
.footer ul{margin:0;padding:0;}
.footer li{list-style-type:none;display:inline;padding:5px;}
.footer a{color:#3e5163;text-decoration:none;}
.footer a:hover{text-decoration:underline;}