
form input.name{width:100%;}
form p{padding:0px;}
form table{width:auto;}

form input.name{width:100%;}
form p{padding:0px;}
form td.label{width:100px;}
td.actions{text-align:center;}
.content-wrapper{width:600px;margin:auto;padding:20px 20px 40px;}


