
.content > div > div{float:right;width:275px;height:275px;border:1px solid #c5c9c9;margin:10px;background-color:#f5f5f5;padding:10px;}
.content > div > div h3{color:#572d00;margin:0;font-size:35px;padding-left:40px;font-weight:normal;}
.content > div > div p{margin: 10px 0px 10px 0px;color:#595959;text-align:left;}
.content > div > div > div{text-align:right;}
.content > div > div > div a{color:#e65800;}

.middle-panel h2{color:#eb9c57;margin:0;margin-top:20px;}
.middle-panel h3{color:#fff;margin:0;}
.middle-panel .btn-access{color:#fff; text-decoration:none;background:url(images/home.index.carousel.access.png) center center;padding:28px 45px 19px 47px;font-weight:bold;}
.middle-panel .roundabout {list-style: none;width: 550px;margin: 0 auto;margin-top:170px;margin-bottom:170px;}
.middle-panel .roundabout img{width:100%;}
.middle-panel div{height:194px;}
