
/*Helvetica Neue,Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif*/
body{background:url("images/sprites.horizontal.12.png") repeat-x scroll 0 -4624px #E0E0DA;margin:0;padding:0;font-family:Arial,sans-serif;font-size:14px;}

