

body{margin:0;padding:0;font-family:Verdana, Arial, Helvetica, sans-serif;}
.header{background:url(img/header_bg.png);text-align:center;}
.header ul{margin:0;padding:0;}
.header > ul{height:113px;border-bottom:1px solid #fff;}
.header > ul > li{list-style-type:none;padding:84px 19px 12px 0px;position:relative;}
.header > ul > li > b{background:url(img/btn_border.png) no-repeat center center;position:absolute;width:35px;height:116px;right:0px;}
.header > ul > li > a{font-size:20px;color:White;padding:78px 15px 10px;line-height:180px;margin-left:-16px;text-decoration:none;}
.header > ul > li > a:hover,.header > ul > li > a.selected{background:url(img/header_bg_btn.png);}
.header li{display:inline;}
.header a{cursor:pointer;}
.header .right_panel{float:right;font-size:12px;width:290px;color:#ffff21;}
.header .right_panel a{color:#ffff21;line-height:45px;text-decoration:none;}
.header .right_panel a:hover{text-decoration:underline;}
.header .right_panel li{}
.header .left_panel{float:left;width:338px;}

.content{text-align:center;}

.footer{text-align:center;color:#404f66;font-size:12px;}
.footer li{display:inline;}
.footer a{cursor:pointer;padding:10px;text-decoration:none;}
.footer a:hover{text-decoration:underline;}
