
.actions a{text-decoration:none;}
.actions a.button{min-width: 0; padding:5px 8px 5px 29px;-moz-border-bottom-colors: none;
					-moz-border-image: none;-moz-border-left-colors: none;-moz-border-right-colors: none;
					-moz-border-top-colors: none;
					background: -moz-linear-gradient(center top , #71B9E1, #57A6D1) repeat scroll 0 0 transparent;
					border-color: #57A6D1 #4999BB #4585AB;border-radius: 3px 3px 3px 3px;border-style: solid;
					border-width: 1px;color: white;cursor: pointer;font: bold 12px/21px arial;height: 24px;
					margin: 0;outline: medium none;overflow: visible;text-align: center;white-space: nowrap;}
					
.table-header{width:100%;margin-top:15px;}
.table-header div{float:left;background-color: #F0F0F0;padding:0 4px;overflow:hidden;height:24px;line-height:24px;}
.table-header div.center{text-align:center;}

.table{padding-top:34px;}
.table ul{margin:0;padding:0;}
.table ul li{list-style-type: none;}
.table ul li > div{float:left;padding:0 4px;overflow:hidden;height:24px;line-height:24px;border-bottom:1px solid #F0F0F0;}
.table ul li:hover > div{float:left;background-color: #F0F0F0;padding:0 4px;overflow:hidden;height:24px;line-height:24px;}
.table ul li > div.center{text-align:center;}
.table ul li > div div.status-ok{margin:4px auto auto; width:20px;height:20px; background:url("images/sprite.10.png") no-repeat scroll -321px -41px transparent;}
.table ul li > div div.properties{margin:4px auto auto; width:20px;height:20px; background:url("images/sprite.10.png") no-repeat scroll -301px -1px transparent;}

table {width:100%;}
xtable caption{border-bottom:2px solid #CCC;text-align:left;margin-bottom:25px;}
xtable caption a{text-decoration:none;}

tr.main{height:15px;}
tr.main td{cursor:pointer;height:15px;}
tr.sub{display:none;}
tr.sub table{margin-left:10px;}
tr.sub tr{cursor:pointer;}

td{padding:3px 0 3px 0;}
td.space{width:10px;}
td.expand{background:url("images/expand_icon.gif") no-repeat scroll left center transparent;}
td.expanded{background:url("images/expanded_icon.gif") no-repeat scroll left center transparent;}