

.middle-panel h2{color:#eb9c57;margin:0;margin-top:20px;}
.middle-panel h3{color:#fff;margin:0;}
.middle-panel .btn-access{color:#fff; text-decoration:none;background:url(images/home.index.carousel.access.png) center center;padding:28px 45px 19px 47px;font-weight:bold;}
.middle-panel .roundabout {list-style: none;width: 550px;margin: 0 auto;margin-top:170px;margin-bottom:170px;}
.middle-panel .roundabout img{width:100%;}
.middle-panel div{height:194px;}
