<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EyeTrackerEntities" connectionString="metadata=res://*/EntityModels.EyeTrackerModel.csdl|res://*/EntityModels.EyeTrackerModel.ssdl|res://*/EntityModels.EyeTrackerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WIN-QJ0OH7RB3Q5\SQLEXPRESS;Initial Catalog=EyeTracker;Persist Security Info=True;User ID=sa;Password=111111;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>