<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
 -->   
    <connectionStrings>
      <add name="Database" 
        connectionString="data source=mobillify.com;initial catalog=mobi_fing_1;packet size=4096;password=a45fhjTYiTQND;persist security info=False;user id=mobillify_qa;" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <emailSettings enabled="true" forward="false" xdt:Transform="Replace">
    <smtp host="smtp.gmail.com" userName="noreply@mobillify.com" password="q7oi2NhisTNSe" port="587" enableSsl="true"/>
    <email from="noreplydev@mobillify.com" fromName="Eye tracker" forward="yura.panshin@mobillify.com" contactUsEmail="contactus@mobillify.com"/>
    <linksExpire activation="14" forgotPassword="3"/>
  </emailSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
    -->
      
      <customErrors defaultRedirect="Error"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="404" redirect="404"/>
      </customErrors>
  </system.web>
  <system.webServer>
    <httpErrors xdt:Transform="Replace">
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" subStatusCode="-1" path="404" responseMode="Redirect" />
      <error statusCode="500" subStatusCode="-1" path="fatal-error.html" responseMode="Redirect" />
    </httpErrors>
  </system.webServer>
</configuration>